# Server Configuration
PORT=5000

# MongoDB Configuration
MONGO_URI=mongodb://127.0.0.1:27017/iotap_gas_fire_db

# MQTT Broker Configuration (Local or Public Cloud Broker)
MQTT_BROKER_URL=mqtt://broker.hivemq.com:1883
MQTT_TOPIC_SENSOR=iotap/sensor/data
MQTT_TOPIC_ALERT=iotap/sensor/alerts

# Safety Thresholds
GAS_THRESHOLD_PPM=400
